* {
    box-sizing: border-box;
    margin: 2;
    padding: 2;
}

body {
    font-family: Arial, sans-serif;
}

.slider {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    position: relative;
}

.slide img {
    width: 100%;
    display: block;
}

.caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: rgb(251, 239, 239);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slide.active .caption {
    opacity: 1;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.636);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

@media (max-width: 600px) {
    .caption {
        font-size: 14px;
    }
}
